<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Potsuri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="header-menu">
        <a id="header-logo" href="/tweets" >Potsuri</a>
        <ul id="header-menu">
          <li><%= link_to 'ツイート一覧', tweets_path%></li>
          <li><%= link_to 'Poturi投稿', new_tweet_path%></li>
        </ul>
      </div>

      <% if flash[:notice] %>
        <p class="flash"><%= flash[:notice] %></p>
      <% end %>

      <%= yield %>

      <div id="footer"><p>© 2020 Copyright DIVE INTO CODE Corp.</p></div>
    </div>
  </body>
</html>
